#{extends 'main.html' /} #{set title:'Home' /}
<a href="/">Reload This Frame</a>
<br />
<br />

Hello ${facebookName}!
<h1>Likes</h1>
<a href="@{Application.books()}">amk</a>

<ul>
	#{list items:csdata, as:'oneFriend' }
	<li>${oneFriend.getIds()} <img src=${oneFriend.getUrl()}
		height="42" width="42" />
	</li> #{/list}
</ul>
> #{set 'moreScripts'}
<script type="text/javascript" charset="utf-8">
	window.fbAsyncInit = function() {
		FB.init({
			appId : '${facebookApplicationID}',
			cookie : true,
			status : true,
			xfbml : false
		});
		FB.Canvas.setAutoResize();
	};
	$("<div id='fb-root'></div>").appendTo('body');
	var e = document.createElement('script');
	e.src = document.location.protocol + '//connect.facebook.net/tr_TR/all.js';
	e.async = true;
	document.getElementById('fb-root').appendChild(e);
</script>
#{/set}
